name: NuGet Publish

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup .NET Core 8
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0.x'
      - name: "Install tools"
        uses: taiki-e/install-action@v2
        with:
          tool: just@1.36.0,git-cliff@2.6.1
      - name: Test
        run: just test
        if: ${{ ! startsWith(github.ref, 'refs/tags/v') }}
      - name: Pack
        run: just pack
        if: startsWith(github.ref, 'refs/tags/v')
      - name: Create Release Notes
        run: just release-notes
        if: startsWith(github.ref, 'refs/tags/v')
      - name: Create a release with the NuGet Package
        uses: softprops/action-gh-release@v2
        with:
          body_path: artifacts/RELEASE-NOTES.md
          files: |
            artifacts/*.nupkg
            artifacts/*.snupkg
        if: startsWith(github.ref, 'refs/tags/v')
      - name: Load NuGet API Key
        uses: 1password/load-secrets-action@v3
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          NUGET_API_KEY: "op://GitHub Actions/NuGet API Dirt/credential"
        if: startsWith(github.ref, 'refs/tags/v')
      - name: Push NuGet package
        run: just nuget-push-no-pack
        if: startsWith(github.ref, 'refs/tags/v')